body {
    grid-template:  [header-left] "head" fit-content(100%) [header-right]
                    [main-left]   "main" auto              [main-right]
                    / 100%;
}

.admin {
    margin: 0;
    grid-area: main;
    overflow: auto;
}

.createAch {
    background-color: var(--secondary-color);
    width: fit-content;
    padding: 40px 100px 30px 100px;
    border-radius: 20px;
}
.createAch h1 {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
}
.field {
    margin: 20px auto;
    width: fit-content;
}

input[type="text"], input[type="number"] {
	font-family: "Exo 2";
	font-size: 15px;
    margin-top: 5px;
    height: 30px;
    border: 2px solid var(--light-link);
    border-radius: 7px;
}
textarea {
    border: 2px solid var(--light-link);
    border-radius: 7px;
}

input[type="button"] {
    font-family: "Exo 2";
	font-size: 15px;
    text-align: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    background-color: transparent;
    transition: background-color;
}
.delete {
    color: var(--difficulty-4);
    border-color: var(--difficulty-4);
}
.create {
    color: var(--difficulty-1);
    border-color: var(--difficulty-1);
}

.submit {
    font-family: "Exo 2";
	font-size: 15px;
    display: block;
    margin: 40px auto -20px auto;
    text-align: center;
    color: white;
    cursor: pointer;
    height: inherit;
    padding: 10px 32px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    background-color: transparent;
    transition-property: background-color;
}

.submit:hover, .create:hover {
    background-color: #306932;
    transition-duration: 0.4s;
}
.delete:hover {
    background-color: #6e1c1c;
    transition-duration: 0.4s;
}
.submit:not(hover), input[type="button"] {
    transition-duration: 0.4s;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}