.leaderboard {
    margin: 0;
    grid-area: main;
    overflow: auto;
}

a {
    text-decoration: none;
    color: var(--text);
}

.leaderboard a:hover {
    text-decoration: underline;
}