.leaderboard {
    margin: 0;
    padding: 20px;
    grid-area: main;
    overflow: auto;
}

.table {
    position: relative;
    margin: auto;
    margin-top: 50px;
    width: 50%;
    border-collapse: collapse;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

th {
    text-align: inherit;
}

.table tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.3);
}

a {
    text-decoration: none;
    color: var(--text);
}

.leaderboard a:hover {
    text-decoration: underline;
}