:root {
    --main-color: #1C2433;
    --secondary-color: #141B26;
    --light-link: #2f3847;
    --dark-link: #0f141d;
    --text: #ffffff;
    --difficulty-1: rgb(106, 168, 79);
    --difficulty-2: rgb(74, 134, 239);
    --difficulty-3: rgb(230, 145, 55);
    --difficulty-4: rgb(177, 0, 0);
    --difficulty-5: rgb(103, 78, 167);
}

@font-face {
	font-family: "Exo 2";
	src: url("../Exo2-Regular.otf");
}

body {
	font-family: "Exo 2";
	font-size: 15px;
	background: var(--main-color);
	color: var(--text);

    margin: 0;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template:  [header-left] "head head" fit-content(100%) [header-right]
                    [main-left]   "nav  main" auto              [main-right]
                    / fit-content(100%) auto;
}

p.title {
    text-decoration: underline;
    margin: 0;
}