:root {
    --main-color: #1C2433;
    --secondary-color: #141B26;
    --light-link: #2f3847;
    --dark-link: #0f141d;
    --text: #ffffff;
    --difficulty-1: rgb(106, 168, 79);
    --difficulty-2: rgb(74, 134, 239);
    --difficulty-3: rgb(230, 145, 55);
    --difficulty-4: rgb(177, 0, 0);
    --difficulty-5: rgb(103, 78, 167);
}

@font-face {
	font-family: "Exo 2";
	src: url("../Exo2-Regular.otf");
}

body {
	font-family: "Exo 2", "Verdana", sans-serif;
	font-size: 15px;
	background: var(--main-color);
	color: var(--text);

    margin: 0;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template:  [header-left] "head head" fit-content(100%) [header-right]
                    [main-left]   "nav  main" auto              [main-right]
                    / fit-content(100%) auto;
}

.tree-div::before, .leaderboard::before {
    z-index: -1;
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: -15px -15px 0 var(--secondary-color);
}

.github {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--main-color);
    border-radius: 50%;
}
.hover-detector-container {
    position: fixed;
    left: 50%;
    bottom: 0px;
}
.hover-detector {
    position: relative;
    left: -50%;
    width: 364px;
    height: 78px;
}
.about-container {
    pointer-events: none;
    position: fixed;
    left: 50%;
    bottom: -70px;
}
.about { 
    pointer-events: none;
    position: relative;
    padding: 10px 30px;
    left: -50%;
    background-color: var(--secondary-color);
    border-radius: 15px;
    overflow: hidden;
}
.about p {
    display: inline-block;
}
.about a {
    color: white;
    text-decoration: none;
}
.about a:hover {
    text-decoration: underline;
}

#logo {
    height: 46px;
    margin-top: 5px;
    margin-bottom: -15px;
    margin-right: 10px;
}

#discord {
    width: 20px;
    margin-right: 7px;
}

.flash {
    margin-bottom: 10px;
    height: fit-content;
    padding: .75rem 1.25rem;
    border: 2px solid transparent;
    border-radius: .50rem;
}
.flash-message, .flash-info {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}
.flash-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.flash-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.flash-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--dark-link); 
    border-radius: 5px;
}