.navbar, .navbar ul {
    list-style: none;
}

.navbar {
    grid-area: head;
    overflow: hidden;
    background: var(--secondary-color);
    padding: 0 20px;
}

.navbar > li {
    display: inline-block;
    height: 100%;
}

.navbar a {
    text-decoration: none;
    display: block;
    color: var(--text);
    padding: 20px;
    transition-property: background-color;
}

.navbar a:hover {
    background-color: var(--light-link);
    transition-duration: 0.4s;
}

.navbar a:not(hover) {
    transition-duration: 0.4s;
}

.navbar ul {
    position: absolute;
    display: none;
    text-align: left;
}

.navbar li:hover ul {
    background-color: var(--secondary-color);
    display: block;
    margin: 0;
    padding: 0;
    z-index: 1;
}