.sidebar {
    grid-area: nav;
    overflow: hidden;
    background-color: var(--secondary-color);
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 190px;
}

.sidebar li {
    display: block;
    width: 100%;
}

.sidebar a {
    text-decoration: none;
    display: block;
    color: var(--text);
    padding: 30px 16px;
}

.sidebar a:hover {
    background-color: var(--light-link);
    transition-duration: 0.4s;
}

.sidebar a:not(hover) {
    transition-duration: 0.4s;
}

.sidebar li:hover ul {
    background-color: var(--secondary-color);
    display: block;
}

.active {
	background-color: var(--main-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}