.tree {
    margin: 20px;
    grid-column: 2;
    grid-row: 2;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tree li {
    display: block;
}

.leaf {
    text-align: center;
    display: block;
    width: 150;
    height: 50;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}