.tree-div {
    margin: 0;
    grid-area: main;
    overflow: auto;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.tree {
    margin: 20px;
}

.branch {
    position: relative;
    margin-left: 400px;
}
.branch:before {
    content: "";
    width: 50px;
    border-top: 2px solid #eee9dc;
    position: absolute;
    left: -100px;
    top: 50%;
    margin-top: 1px;
}

.entry {
    position: relative;
    min-height: 80px;
}
.entry:before {
    content: "";
    height: 100%;
    border-left: 2px solid #eee9dc;
    position: absolute;
    left: -50px;
}
.entry:after {
    content: "";
    width: 50px;
    border-top: 2px solid #eee9dc;
    position: absolute;
    left: -50px;
    top: 50%;
    margin-top: 1px;
}
.entry:first-child:before {
    width: 10px;
    height: 50%;
    top: 50%;
    margin-top: 2px;
    border-radius: 10px 0 0 0;
}
.entry:first-child:after {
    height: 10px;
    border-radius: 10px 0 0 0;
}
.entry:last-child:before {
    width: 10px;
    height: 50%;
    border-radius: 0 0 0 10px;
}
.entry:last-child:after {
    height: 10px;
    border-top: none;
    border-bottom: 2px solid #eee9dc;
    border-radius: 0 0 0 10px;
    margin-top: -9px;
}
.entry.sole:before {
    display: none;
}
.entry.sole:after {
    width: 50px;
    height: 0;
    margin-top: 1px;
    border-radius: 0;
}

.label {
    display: inline-block;
    width: 300px;
    min-height: 70px;
    height: fit-content;
    padding: 5px 10px;
    text-align: center;
    border: 2px solid #eee9dc;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -30px;
}

.label:hover:not(.auto) {
    background-color: var(--secondary-color);
    cursor: pointer;
    transition-duration: 0.3s;
}
.label:not(hover) {
    transition-duration: 0.3s;
}

.tree > div:before,
.tree > div:after {
    border: none !important;
}

p.title {
    text-decoration: underline;
    margin: 0;
}

.auto:hover {
    cursor: not-allowed;
}