{% extends 'base.html' %}

{% block title %}Admin • Achievements{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}

{% block content %}
    <div class="admin">
        <form method="post">
            <input class="submit" type="submit" value="Enregistrer">
            <table class="table">
                <thead>
                    <th scope="col">Titre</th>
                    <th scope="col">Description</th>
                    <th scope="col">Difficulté</th>
                    <th scope="col">Actions</th>
                </thead>
                <tbody>
                    {% for ach in achievements %}
                        <tr>
                            <td><input type="text" name="name-{{ ach.id_achievement }}" id="name-{{ ach.id_achievement }}" value="{{ ach.name }}" /></td>
                            <td><textarea name="lore-{{ ach.id_achievement }}" id="lore-{{ ach.id_achievement }}" rows="2" cols="50">{{ ach.lore }}</textarea></td>
                            <td class="dif">
                                <div class="dot" style="background-color: var(--difficulty-{{ ach.difficulty }});"></div>
                                <input type="number" name="difficulty-{{ ach.id_achievement }}" id="difficulty-{{ ach.id_achievement }}" value="{{ ach.difficulty }}" min="1" max="5"/>
                            </td>
                            <td><input type="button" class="create" id="create-{{ ach.id_achievement }}" value="+" />&nbsp;&nbsp;<input type="button" class="delete" id="delete-{{ ach.id_achievement }}" value="-" /></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input class="submit" type="submit" value="Enregistrer">
        </form>
    </div>
{% endblock %}

{% block script %}
    <script>
        var dif_td = document.querySelectorAll(".dif");
        for (let i = 0; i < dif_td.length; i++) {
            dif_td[i].lastElementChild.addEventListener("change", (event) => {
                dot = event.target.parentNode.firstElementChild;
                dot.style.backgroundColor = `var(--difficulty-${event.target.value})`;
            });
        }

        var creates = document.querySelectorAll('.create');
        for (let i = 0; i < creates.length; i++) {
            creates[i].addEventListener('click', (event) => {
                let id = event.target.id.split("-")[1]
                window.location.href = "{{ url_for('admin.create_achievement', parent_id='-1') }}".replace("-1", id);
            });
        }
        var deletes = document.querySelectorAll('.delete');
        for (let i = 0; i < deletes.length; i++) {
            deletes[i].addEventListener('click', (event) => {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", " {{ url_for('admin.delete') }}", true);
                xhr.setRequestHeader("Content-Type", "application/json");
                var data = JSON.stringify({
                    "id": event.target.id.split("-")[1]
                });
                xhr.send(data);
                xhr.onreadystatechange = function() {
                    if(xhr.readyState == xhr.DONE){
                        document.location.reload();
                    }
                }
            });
        }
    </script>
{% endblock %}