:root {
    --main-color: #1C2433;
    --secondary-color: #161D29;
    --light-link: #3B475B;
    --dark-link: #141B26;
    --text: #ffffff;
    --difficulty-1: #6AA84F;
    --difficulty-2: #4A86EF;
    --difficulty-3: #E69137;
    --difficulty-4: #970000;
    --difficulty-5: #674EA7;
    /* --difficulty-5: #000000; */
}

@font-face {
	font-family: "Exo 2";
	src: url("Exo2-Regular.otf");
}

body {
	font-family: "Exo 2";
	background: var(--bg);
	font-size: 15px;
	color: var(--font);
}