{% extends 'base.html' %}

{% block title %}{{ achievements[category].name }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tree.css') }}">
{% endblock %}

{% block content %}
    <div class="sidebar">
        {% for a in achievements %}
            <li class="{{ 'active' if loop.index-1 == category else '' }}"><a title="{{ a.lore }}" href="/achievements/{{ loop.index-1 }}">{{ a.name }}</a></li>
        {% endfor %}
    </div>
    
    <div class="difficulties">
        <div class="dot" style="background-color: var(--difficulty-1);"></div>&nbsp;Facile<br/>
        <div class="dot" style="background-color: var(--difficulty-2);"></div>&nbsp;Moyen<br/>
        <div class="dot" style="background-color: var(--difficulty-3);"></div>&nbsp;Difficile<br/>
        <div class="dot" style="background-color: var(--difficulty-4);"></div>&nbsp;Hardcore<br/>
        <div class="dot" style="background-color: var(--difficulty-5);"></div>&nbsp;Impossible
    </div>

    <div class="tree-div">
    </div>
{% endblock %}

{% block script %}
    <script>
        var canvas = document.querySelector(".tree-div");
        var tree = document.createElement("div");
        tree.className = "tree";
        canvas.appendChild(tree);
        var achievements = {{ achievements[category].childs | safe }};
        tree_builder(achievements, tree);

        function tree_builder(achievements, parent_node) {
            for(let i in achievements) {
                let a = achievements[i];

                let entry = document.createElement("div");
                entry.className = "entry";
                if(achievements.length == 1) entry.classList.add("sole");

                let label = document.createElement("span");
                label.className = "label";
                let color = getComputedStyle(document.documentElement).getPropertyValue("--difficulty-" + a.difficulty);
                label.style.borderColor = color;
                if(a.complete) {
                    label.classList.add("complete");
                    label.style.backgroundColor = compute_color(color);
                }
                label.innerHTML = "<p class='title'>" + a.name + "</p><i>" + a.lore + "</i>";
                if(a.auto_complete) label.classList.add("auto");
                else {
                    label.addEventListener("click", function(e) {
                        label.classList.toggle("complete");
                        if(label.classList.contains("complete")) {
                            label.style.backgroundColor = compute_color(color);
                        } else {
                            label.style.backgroundColor = "";
                        }
                    });
                }
                
                entry.appendChild(label);
                parent_node.appendChild(entry);

                if(typeof a.childs !== 'undefined') {
                    let next = document.createElement("div");
                    next.className = "branch";
                    entry.appendChild(next);
                    tree_builder(a.childs, next);
                }
            }
        }

        function compute_color(color) {
            let c = [];
            color.trim().substring(4, color.length-1).split(",").forEach(i => c.push(parseInt(i)-50));
            return "rgb(" + c.join(", ") + ")";
        }
    </script>
{% endblock %}