<head>
    <title>[IUT RPG] {% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
    {% block styles %}{% endblock %}
</head>

<body>
    <nav class="navbar">
        <li><img id="logo" alt='logo' src="{{ url_for('static', filename='logo.png') }}"/>
        <li><a href="/achievements">Achievements</a></li>
        <li style="float:right"><a href="{{ url_for('leaderboard') }}">Leaderboard</a></li>
        {% if g.user %}
            <li style="float:right"><a href="{{ url_for('profile', user_id=g.user.id_user) }}">{{ g.user.firstname }} {{ g.user.lastname }} ▼</a>
                <ul>
                    <li><a href="{{ url_for('profile', user_id=g.user.id_user) }}">Profil</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Déconnexion</a></li>
                </ul>
            </li>
            {% if g.user.id_user == admin_id %}
                <li style="float:right"><a href="">Admin ▼</a>
                    <ul>
                        <li><a href="{{ url_for('admin.manage_users') }}">Utilisateurs</a></li>
                        <li><a href="{{ url_for('admin.manage_achievements') }}">Achievements</a></li>
                    </ul>
                </li>
            {% endif %}
        {% else %}
            <li style="float:right"><a href="{{ login_url }}">
                <img id="discord" src="{{ url_for('static', filename='discord.png') }}"/>Connexion</a>
            </li>
        {% endif %}
    </nav>

    {% block content %}{% endblock %}
    <div class="github">
        <a target="_blank" href="https://github.com/nalo26/Achievements-of-IUT">
            <img alt="Code source" title="Code source" src="{{ url_for('static', filename='github.png') }}">
        </a>
    </div>

    <div class="hover-detector-container">
        <div class="hover-detector"></div>
    </div>
    <div class="about-container">
        <div class="about">
            Made with <p style="color: red;">♥</p> 
            by <p style="color: #e19dff;">Émilie Vey</p> using 
            <a target="_blank" href="https://flask.palletsprojects.com">Flask</a> 
            @ 2021
        </div>
    </div>

    {% block script %}{% endblock %}
    <script>
        var hover_detector = document.querySelector(".hover-detector");
        hover_detector.addEventListener("mouseenter", e => {
            let about = document.querySelector(".about-container");
            about.style.transitionDuration = "0.4s";
            about.style.bottom = "10px";
        });
        hover_detector.addEventListener("mouseleave", e => {
            let about = document.querySelector(".about-container");
            about.style.bottom = "-70px";
        });
    </script>
</body>