{% extends 'base.html' %}

{% block title %}Classement • {{ year if year else 'Général' }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/leaderboard.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}">
{% endblock %}

{% block content %}
    <div class="sidebar">
        <li class="{{ 'active' if not year else '' }}"><a href="{{ url_for('leaderboard') }}">Classement général</a></li>
        {% for y in range(2017, maxyear+1) %}
            <li class="{{ 'active' if y == year else '' }}"><a href="{{ url_for('leaderboard', year=y) }}">Promo {{ y }}</a></li>
        {% endfor %}
    </div>

    <div class="leaderboard">
        <table class="table">
            <thead>
                <th scope="col">Rang</th>
                <th scope="col">Étudiant•e</th>
                <th scope="col">Promotion</th>
                <th scope="col">Score</th>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">#{{ loop.index }}</th>
                        <td><a href="{{ url_for('profile', user_id=user.id_user) }}">{{ user.firstname }} {{user.lastname}}</a></td>
                        <td><a href="{{ url_for('leaderboard', year=user.year) }}">{{ user.year }}</a></td>
                        <td>{{ user.score }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}