{% extends 'base.html' %}

{% block title %}Profil • {{ user.firstname }} {{ user.lastname}}{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block content %}
    <div style="margin: auto; width: fit-content;">
        <div class="info">
            <img id="pp" src="{{ user.avatar }}"/>
            <h1>{{ user.firstname }} {{ user.lastname}}</h1>
        </div>

        <div class="info">
            <h2>Informations</h2>
            <p>Promotion {{ user.year }}</p>
            <p>Ici depuis le {{ datejoin.strftime('%d/%m/%Y') }}</p>
        </div>

        <div class="info">
            <h2>Statistiques</h2>
            <table>
                <tr>
                    <td>Score total :</td>
                    <td class="value">{{ user.score }}</td>
                </tr>
                <tr>
                    <td>Achievements complétés :</td>
                    <td class="value">{{ ach_complete }} / {{ ach_amount }} (
                        {%- for d in difficulties -%}
                            <p class="dif" style="color: var(--difficulty-{{ loop.index }});">{{ d }}</p><p class="dif">{{ '' if loop.last else ',&nbsp;'|safe }}</p>
                        {%- endfor -%}
                        )
                    </td>
                </tr>
                <tr>
                    <td>Classement général :</td>
                    <td class="value">{{ rank }} / {{ user_amount }}</strong></td>
                </tr>
                <tr>
                    <td>Classement promotion {{ user.year }} :</td>
                    <td class="value">{{ year_rank }} / {{ year_user_amount }}</td>
            </table>
        </div>
    </div>
{% endblock %}