{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block content %}
    <div style="margin: auto;">
        {% for cat, msg in get_flashed_messages(True) %}
            <div class="flash flash-{{ cat }}">{{ msg }}</div>
        {% endfor %}
        <div class="auth">
            <form method="post">
                <h1>{{ title }}</h1>
                <div class="field">
                    <label for="firstname">Prénom</label><br/>
                    <input name="firstname" id="firstname" value="{{ data.firstname[0] if data.firstname is defined else '' }}" required>
                </div>
                <div class="field">
                    <label for="lastname">Nom</label><br/>
                    <input name="lastname" id="lastname" value="{{ data.lastname[0] if data.lastname is defined else '' }}" required>
                </div>
                <div class="field">
                    <label for="password">Mot de passe</label><br/>
                    <input type="password" name="password" id="password" required>
                </div>
                {% block field %}{% endblock %}
                <input id="submit" type="submit" value="Valider">
                <div id="textnote">
                    {% block text %}{% endblock %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}