{% extends 'auth/base_auth.html' %}

{% block field %}
    <div class="field">
        <label for="confirm">Confirmer le mot de passe</label><br/>
        <input type="password" name="confirm" id="confirm" required>
    </div>
    <div class="field">
        <label for="year">Année de la 1ère année</label><br/>
        <select name="year" id="year" required></select>
    </div>
{% endblock %}

{% block text %}
    Déjà inscrit•e ?<br/>
    <a href="{{ url_for('auth.login') }}">Connectez-vous</a> !
{% endblock %}

{% block script %}
    <script>
        var select = document.querySelector("#year");
        var now = new Date();
        var month = now.getMonth() + 1;
        var year = now.getFullYear();
        if(month < 7) year --;

        for(let i = 2017; i <= year; i++) {
            let opt = document.createElement("option");
            opt.value = i;
            opt.innerHTML = i;
            if(i == year) opt.selected = "selected";
            select.appendChild(opt);
        }
    </script>
{% endblock %}